* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #444;
    font-size: 15px;
    overflow: hidden;
}

body {
    max-width: 1920px;
    min-width: 360px;
    margin: 0 auto;
    background-color: rgb(255, 255, 136);
    box-shadow: 0 0 2px 0 black;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.static-img {
    position: absolute;
    width: 30%;
    min-width: 300px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

/* left eye */
.eye:nth-child(2) {
    position: absolute;
    width: 4%;
    top: 44vh;
    left: 45.5vw;
    min-width: 30px;
}

/* right eye */
.eye:nth-child(3) {
    position: absolute;
    width: 4%;
    top: 44vh;
    left: 54vw;
    min-width: 30px;
}

.cloud {
    position: absolute;
    width: 9%;
    min-width: 100px;
    top: 8vh;
    left: 12vw;
}

.cloud:nth-last-child(2) {
    top: 6vh;
    left: 25vw;
}

.cloud:nth-last-child(1) {
    top: 12vh;
    left: 75vw;
}

.sun {

    width: 15%;
    top: 12vh;
    left: 10vw;
}

.fruit {
    position: absolute;
    width: 15%;
    min-width: 100px;
    bottom: 0;
    left: 8vw;
}
