* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(90deg, red, black 5%, black 40%, Darkmagenta 42%, Darkmagenta 46%, royalblue 50%, Darkmagenta 54%, Darkmagenta 58%, black 60%, black 95%, red);

}

h2 {
    margin: 2%;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    color: goldenrod;
    text-shadow: 1px 1px 2px black;
    /* animation: color 6s infinite; */
}

div.game {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

div.game div {
    width: 25vw;
    height: 35vh;
    background-color: #888;
    box-shadow: 0 0 10px 2px red;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2% 0;
}

form input,
form button {
    width: 15%;
    height: 50px;
    line-height: 5vh;
    margin: 10px;
}

div.interface {
    margin-top: 2vh;
    margin-left: 10vw;
}

div.interface h3,
div.interface p {
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #eee;
}

div.interface p {
    font-size: 1.1rem;
    margin-top: 5px;
}

div.interface p span {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 50px;
    transform: translate(-50%, -50%);
    font-size: .8rem;
    color: #eee;
}

footer p {
    margin-left: 20px;
}